/* external link */

a {
  color: #cf5219;
  position: relative;
}

a:hover {
  color: #ffffff;
}

a:after {
  background: url(/img/external-link.svg) no-repeat;
  padding: 5px;
  background-size: 100%;
  content: '';
  top: 9px;
  position: relative;
  margin-left: 4px;
}

a:hover:after {
  background: url(/img/external-link-hover.svg) no-repeat;
  padding: 5px;
  background-size: 100%;
  content: '';
  top: 9px;
  position: relative;
  margin-left: 4px;
}

a:before {
  z-index: -1;
  position: absolute;
  left: -2px;
  top: -2px;
  float: left;
  padding: 10px 2px 10px 2px;
  height: 4px;
  width: 100%;
  content: '';
  background-color: transparent;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

a:hover:before {
  background-color: #cf5219;
}
