$link-color: #cf5219;

p {
  line-height: 1.4em; /* add enough line height for the background on hover */
  font-family: serif;
}

a {
  color: $link-color;
  position: relative;
  display: inline-block; /* necessary for firefox absolute positioning */
  white-space: nowrap; /* prevent line breaks on links */
  &:before {
    z-index: -1;
    position: absolute;
    left: -2px;
    height: 100%;
    width: 105%;
    content: '';
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
  }
  &:after {
    background: url(img/external-link.svg) no-repeat center;
    padding: 5px;
    background-size: 100%;
    content: '';
    position: relative;
    margin-left: 4px;
  }
  &:hover {
    color: #ffffff;
    text-decoration: none;
    &:before {
      background-color: $link-color;
    }
    &:after {
      background: url(img/external-link-hover.svg) no-repeat center;
    }
  }
}
